body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
  }

header {
    background-color: #000000;
    color: #fff;
    padding: 0.5em;
    padding-top: 55px;
    padding: 0.5em;
    padding-top: 55px;

}

section, footer, body {
    background: black;
    background-image: url(photoevent.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.event {
    border: 1px solid #000;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    display: grid;

}

.weather {
    border: 1px solid #000;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    display: grid;

}

.event-data {
    border: 1px solid #000;
    margin: 10px;
}

#title {
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
}

h1 {

    background: black;
    color: white;
    width: 20%;
    margin: auto;
    text-align: center;
}

p {
    text-align: center;
}

#event-list {
    background: black;
    color: white;
    text-align: center;
}

#event-title {
    text-align: center;
    background: black;
    color: white;
}

#weather-title {
    text-align: center;
    background: black;
    color: white;
}

#search-input {

    margin: auto;
    padding: 0;
    display: flex;
    position: relative;
    width: 275px;
    height: 35px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.btn-primary {
    background-color: #4CAF50 !important;
    color: #fff;
    margin: auto;
    padding: 0;
    margin-top: 5px;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.ticketButton {
    background-color: #4CAF50;
    color: #fff;
    margin: auto;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    position: relative;
    text-align: center;
    background-color: #fffbfb;
    float: right;
    bottom: 100px;
    right: 2%;
}

footer {
color: white
}
